@model IEnumerable<FisaPostului.Domain.Models.ProgramDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.institutie_invatamant_superior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.facultatea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departamentul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciclu_studii)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domeniu_studii)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specializarea)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.institutie_invatamant_superior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.facultatea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departamentul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciclu_studii)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domeniu_studii)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specializarea)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_program }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_program }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_program })
            @Html.ActionLink("Export to json", "ToJson", new { id = item.id_program })
        </td>
    </tr>
}

</table>
